<!DOCTYPE html>
<html ng-app="App">

<head>
    <meta charset="utf-8">
    <title>SEU</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.1.219/styles/kendo.default-v2.min.css" />

    <link rel="stylesheet" href="app.css">
</head>

<body ng-controller="mainController">

    <div class="row top-buffer">

        <div class="col-1"></div>
        <div class="col-2">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Usuario</span>
                </div>
                <input type="text" ng-model="user" class="form-control" placeholder="Nombre de usuario"
                    aria-label="Username" aria-describedby="basic-addon1">
            </div>

        </div>

        <div class="col-1">

            <select ng-model="sensor" id="inputState" class="form-control">

                <option>Battery</option>
                <option>Light</option>
                <option>Location</option>
                <option>Screen</option>
                <option>Wifi</option>
                <option>Bluetooth</option>
                <option>Timezone</option>

            </select>



        </div>


        <div class="col-3">

            <div id="minDate" >
                <div class="demo-section k-content">
                    <input kendo-date-time-picker ng-model="minDate" k-ng-model="obj1" style="width: 100%;" />


                </div>

            </div>
        </div>

        <div class="col-3">

            <div id="maxDate" >
                <div class="demo-section k-content">
                    <input kendo-date-time-picker ng-model="maxDate" k-ng-model="obj2" style="width: 100%;" />


                </div>

            </div>
        </div>


    </div>



    <div class="row top-buffer">

        <div class="col-5"></div>
        <div class="col-2">
            <submit type="button" ng-click="retrieve()" class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-5">
            <submit type="button" ng-click="showData()" class="btn btn-primary">Mostrar</button>
        </div>
        <div class="col-5"></div>

    </div>

    <div class="container">
        {{resultsQuery}}
    </div>
    

    <canvas id="bar" class="chart chart-bar"
        chart-data="dataB" chart-labels="labelsB" chart-options="optionsB" chart-series="seriesB" chart-colors="colorsB"> 
    </canvas>
    <canvas id="line" class="chart chart-line"
        chart-data="dataL" chart-labels="labelsL" chart-options="optionsL" chart-series="seriesL" > 
    </canvas>
    <canvas id="pie" class="chart chart-pie"
        chart-data="dataP" chart-labels="labelsP" chart-options="optionsP" chart-series="seriesP"> 
    </canvas>


</body>

<script src="https://kendo.cdn.telerik.com/2020.1.219/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.219/js/angular.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.1.219/js/kendo.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="./node_modules/angular/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src="./app.js"></script>
<script src="./node_modules/chart.js/dist/Chart.js"></script>
<script src="./node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
</html>